<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

<head>
  {{ partial "header.html" . }}
</head>

<body lang="en">
  <section id="main">
    <div>
      {{ range first 10 .Data.Pages }}
      <h1>{{ .Title }}</h1>
      <p> {{ .Description }} </p>
      {{ end }}
    </div>

    <!-- START :: summary View -->
    {{ range .Data.Pages }} {{ .Render "summary"}} {{ end }} 
    <!-- END :: summary View -->

    <br/>
    <br/>
    
    <!-- START :: List View -->
    {{ range .Data.Pages }} {{ .Render "li"}} {{ end }}
    <!-- END :: List View -->

    {{ range .Data.Pages.ByWeight }}
<li>
<a href="{{ .Permalink }}">{{ .Title }}</a>
<div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
</li>
{{ end }}
  </section>
</body>

</html>